/* CSS Document
----------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #5E5C5C;
	margin: 1%;
	padding: 0;
}

#page {
	max-width: 1200px;
	margin: 0
	auto;
	position: relative;
}


/* Text
----------------------------------*/

h1 {
	margin: 0 1em 0;
	font: 2.8em;
	font-weight: 700;
	color: #fff
}

h2 {
	margin: 0 0 .5em 0;
	font: 1.9em;
	font-weight: 700;
	line-height: 1.1em;
	text-align: center
}

h3 {
	margin: 0 0 .5em 0;
	font: 1.6em;
	font-weight: 700;
	/*line-height: 1.1em;*/
	color: #fff;
}

h4 {
	margin: .1em 0 .2em 0;
	font: 1em;
	font-weight: 700;
	text-align: center;
	color: #fff;
}

p { margin: 0 0 1em 0; }

a { color: #007eff; }
a:visited {color: #65b1ff;}

a.btn {
	font-size: 1em;
	text-decoration: none;
	color: #0D0300;
	border: 1px solid #0D0300;
	border-radius: 10%
	margin: 10px 10px;
	padding: 5px 5px;
	transition: background-color .5s;
	display: flex;
	justify-content: center;
}
a.btn:hover { background-color: rgba(0,0,0,.3) }


/* Header
----------------------------------*/

header {
	height: 300px;
	width: 100%;
	background: url(banner.jpg) no-repeat center top;
	background-color: #73626B;
	background-blend-mode: overlay;
	background-size: cover;
	position: relative;
	padding: 0 30px;
	margin: 10px;
}

header a.logo {
	z-index: 1;
	position: absolute;
	display: block;
	width: 166px;
	height: 100px;
	background: url(logo.jpg) no-repeat 0 0;
	background-size: contain;
	top: 10px;
	left: 30px;
 }

 header a.logo span {display: none;}

 header div.hero { 
 		position: absolute; 
 		width: 600px; 
 		top: 110px; 
 		right: 7.5%; 
 		font-size: 25px;
 		line-height: 3.8em;
 		margin: 0 0 30px 0;
 	}


/* Section - All
----------------------------------*/

section { padding: 0 30px; }
section::after { content: ''; display: block; clear: both; }



/* Section - Add New Recipe
----------------------------------*/




/* Section - View Recipes
----------------------------------*/

section.view-recipes { 
	background-color: #F0E9DE;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
}

section.view-recipes aside { 
	width: 25%; 
	float: left; 
	text-align: center; 
}

section.view-recipes .content {
	margin: 5%;
	background: no-repeat center top;
	background-size: 400px 400px;
	padding-top: 85px;
}


section.view-recipes aside h3 a {
	font-size: 25px;
	opacity: 0.7;
	width: 200px;
	margin: 0;
}


section.view-recipes aside h2 a { color: #fff; text-decoration: none; }
section.view-recipes aside h2 a:hover { text-decoration: underline; }

section.view-recipes aside h3 a { color: #fff; text-decoration: none; }
section.view-recipes aside h3 a:hover { text-decoration: underline; }


section.view-recipes aside .content.all {
	background: linear-gradient(to top, transparent, #73626B), url(recipes-all.jpg);
	background-size: cover;
	padding: 0 0 300px 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section.view-recipes aside .content.all:hover { box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19) }

section.view-recipes aside .content.cuisine {
	background: linear-gradient(to top, transparent, #73626B), url(recipes-cuisine.jpg);
	background-size: cover;
	padding: 0 0 300px 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section.view-recipes aside .content.cuisine:hover { box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19) }

section.view-recipes aside .content.course {
	background: linear-gradient(to top, transparent, #73626B), url(recipes-course.jpg);	
	background-size: cover;
	padding: 0 0 300px 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section.view-recipes aside .content.course:hover { box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19) }

section.view-recipes aside .content.favourite {
	background: linear-gradient(to top, transparent, #73626B), url(recipes-favourite.jpg);		
	background-size: cover;
	padding: 0 0 300px 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section.view-recipes aside .content.favourite:hover { box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19) }


/* Section - Calendar
----------------------------------*/
section.calendar {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 15px;
	background-color: #F0E9DE;

}
section.calendar aside {
	width: 14%;
	float: left;
	text-align: center;
	background-color: #F0E9DE;
}

section.calendar aside .day {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 2% 5%;
	/*background-color: #fff;*/
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.1)), url(daybg.jpg);
	padding: 0 0 2px 0;
}

section.calendar aside .date {
	background: #73626B;
	/*border: 1px solid black;*/
}

section.calendar aside .breakfast {
	background: #B79DAC99;
	/*border: 1px solid black;*/
	/*text-align: right;*/
	margin: 10px 0px 10px 60px;
	border-radius: 20px 0px 0px 20px;
}

section.calendar aside .lunch {
	background: #B79DAC99;
	/*border: 1px solid black;*/
	text-align: right;
	margin: 5px 0px 10px 60px;
	border-radius: 20px 0px 0px 20px;
}

	section.calendar aside .dinner {
	background: #B79DAC99;
	/*border: 1px solid black;*/
	text-align: right;
	margin: 5px 0px 10px 60px;
	border-radius: 20px 0px 0px 20px;
}

/* Section - Calendar 2
----------------------------------*/

.tooltip {
  position: relative;
  /*display: inline-block;*/
  /*border-bottom: 1px dotted black;*/
  margin: .1em 0 .2em 0; 
  font: 1em; 
  font-weight: 700; 
  text-align: center;
  color: #fff;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background: rgba(177, 253, 185, 0.9);
  color: #000;
  text-align: center;
  border-radius: 6px;
  /*border: 1px solid black;*/
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* Section - Websites
----------------------------------*/

section.favourite-websites {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 15px;
	background-color: #F0E9DE;
}

section.favourite-websites aside {
	width: 20%;
	float: left;
	text-align: center;
	background-color: #F0E9DE;
	padding: 15px 35px;



}

section.favourite-websites aside .container { 
	padding: 2px 16px;
}

section.favourite-websites aside h2 a { color: #000; text-decoration: none; }
section.favourite-websites aside h2 a:hover { text-decoration: underline; }

section.favourite-websites aside h3 a { color: #000; text-decoration: none; }
section.favourite-websites aside h3 a:hover { text-decoration: underline; }

section.favourite-websites aside .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 2% 5%;
}

section.favourite-websites aside .card:hover { box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19) }

section.favourite-websites aside .card img { 
	width: 100%; 
	height: 300px;
	/*margin: 0 30px 0 30px;*/
}



section.favourite-websites a.btn { margin-top: 400px; }


/*section.favourite-websites .content {
	margin: 1%;
	padding-top: 10px
	/*background: no-repeat center top;
	/*background-size: 200px 200px;
}

section.favourite-websites .image img {
	width: 30%;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*section.favourite-websites aside .content.bbc { background-image: url(bbcgoodfood.jpg); padding: 0 0 100px 0;  }
section.favourite-websites aside .content.olive { background-image: url(olivemagazine.jpg); padding: 0 0 100px 0; }
section.favourite-websites aside .content.cookie { background-image: url(cookieandkate.jpg); padding: 0 0 100px 0; }*/


/* PAGE - All Recipes
----------------------------------*/

section.all-recipes .recipe-container {
	background-color: #F0E9DE;
	width: 100%;
	height: 300px;
	padding:10px;
	margin: 10px;
}

section.all-recipes img {
	float: left;
	width: auto;
	height: 300px;
	border-radius: 4px;
	box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 0 30px 0 0;
}


section.all-recipes .recipe-content {
	left: 250px;
	top: 0;
	color: #000;
	text-align: left;
	margin: 5px;
	padding: 7px;
	height: 280px;
	}

section.all-recipes .recipe-content h3 {
	/*position: relative;*/
	top: 0px;
	color: #000;
	font-size: 2em;
	padding: 10px;
	background: #f2e3c9;
	/*opacity: 0.8;*/
	width: 100%;
}

section.all-recipes .recipe-content img {
	position: relative;
	left: 55px;
	top: 10px;
	height: 50px;
	width: 50px;
	margin: 10px 20px 0 0;
}

section.all-recipes .primary-tags {
	/*background-color: #a4d1c8;*/
	padding: 10px;
}

section.all-recipes .primary-tags h4 {
	position: relative;
	left: 30px;
	top: 10px;
	display: inline-block;
	position: relative;
	margin: 15px 25px;
	line-height: 40px;
	color: #000;
}

section.all-recipes .secondary-tags {
	/*background-color: #41aaa8;*/
	padding: 10px;
}

section.all-recipes .secondary-tags h4 {
	position: relative;
	left: 40px;
	top: 9px;
	display: inline-block;
	position: relative;
	margin: 15px 10px;
	line-height: 40px;
	border: 0.8px solid black;
	border-radius: 4px;
	padding: 2px 5px;
	color: #000;
}

section.all-recipes .cuisine-tag {
	float: left;
}

section.all-recipes .course-tag {
	float: left;
}

section.all-recipes .actions-granola {
	position: absolute;
	right: 13%;
	top: 76%;
}

section.all-recipes .actions-tabbouleh {
	position: absolute;
	right: 13%;
	top: 121%;
}

section.all-recipes .actions-shakshuka {
	position: absolute;
	right: 13%;
	top: 165%;
} 

section.all-recipes .actions img {
	top: 0px;
	left: 65%;
	height: 60px;
	width: 60px;
}

/* Navigation
----------------------------------*/

nav > ul { padding-left: 200px; }
nav > ul > li { float: left; }
nav > ul > li > a { width: auto; padding: 10px 20px 15px 20px; }

nav {
	/*background-color: rgba(0,0,0,.65);*/
	position: absolute;
	top: 0px;
	left: 1%;
	right: 5%;
	padding: 50px 0 0 220px;
	width: 100%;
 }

nav::after {
	content:'';
	display: block;
	clear: both; }

nav ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}

nav ul li:hover { background-color: #3D332B; }
nav ul li:hover > ul { display: block; }

nav ul li a {
 	display: inline-block;
 	color: #fff;
 	background-color: #3D332B;
 	padding: 10px 20px;
 	margin: 5px;
 	text-decoration: none;
 	width: 125px;
 	position: relative;
 }

nav ul li a:visited { color: #fff; }

nav ul li a:hover { background-color: #73626B; }

nav ul ul {
	position: absolute;
	top: 100%;
	background-color: #3D332B;
	display: none;
}

nav ul ul li { position: relative; }

nav ul ul ul { left: 100%; top: 0px; }





